name: Convert Markdown to PDF

on:
  push:
    paths:
      - "README.md"
      - ".github/workflows/convert.yaml"

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: install japanese font
        run: sudo apt install fonts-ipafont fonts-ipaexfont

      - name: Convert Markdown to PDF
        run: cat README.md | npx md-to-pdf --launch-options '{"args":["--no-sandbox","--disable-setuid-sandbox","--disable-dev-shm-usage","--disable-gpu"]}' > ./docs/shokumu_yamanaka.pdf

      - name: Commit PDF files
        run: |
          git remote set-url origin https://github-actions:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add .
          git commit -m "Update PDF files"
          git push --push-option=ci.skip origin $CI_COMMIT_REF_NAME
