name: Convert Markdown to PDF

on:
  push:
    paths:
      - "docs/**/*.md"

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: install japanese font
        run: sudo apt install fonts-ipafont fonts-ipaexfont

      - name: Convert Markdown to PDF
        run: ls ./docs/*.md | xargs -n 1 npx md-to-pdf

      - name: Commit PDF files
        run: |
          git remote set-url origin https://github-actions:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add .
          git commit -m "Update PDF files"
          git push --push-option=ci.skip origin $CI_COMMIT_REF_NAME
